apiVersion: "v1"
kind: "Pod"
metadata:
  name: "kube-controller-manager"
  namespace: "kube-system"
  labels:
    tier: control-plane
    component: kube-controller-manager
spec:
  hostNetwork: true
  containers:
    - name: "kube-controller-manager"
      image: "gcr.io/google-containers/hyperkube:v1.10.0"
      command:
        - "/hyperkube"
        - "controller-manager"
        - "--kubeconfig=/var/lib/kubelet/kubeconfig"
        - "--allocate-node-cidrs=True"
        - "--cluster-cidr=10.244.0.0/16"
        - "--cluster-name=kbl-ateam"
        - "--root-ca-file=/srv/kubernetes/ca.crt"
        - "--cluster-signing-cert-file=/srv/kubernetes/ca.crt"
        - "--cluster-signing-key-file=/srv/kubernetes/ca.key"
        - "--service-account-private-key-file=/srv/kubernetes/server.key"
        - "--leader-elect=true"
        - "--v=2"
        - "--node-monitor-grace-period=40s"
        - "--pod-eviction-timeout=5m0s"
        - "--route-reconciliation-period=10s"
        - "--master=127.0.0.1:8080"
      volumeMounts:
        - name: "srv-kubernetes"
          mountPath: "/srv/kubernetes"
        - name: "var-lib-kubelet"
          mountPath: "/var/lib/kubelet"
  volumes:
    - name: "srv-kubernetes"
      hostPath:
        path: "/srv/kubernetes"
    - name: "var-lib-kubelet"
      hostPath:
        path: "/var/lib/kubelet"
