apiVersion: "v1"
kind: "Pod"
metadata:
  name: "kube-etcd"
  namespace: "kube-system"
spec: 
  hostNetwork: true
  containers: 
    - name: "etcd"
      restartPolicy: Never
      image: "quay.io/coreos/etcd:v3.1.0"
      command: 
        - "/usr/local/bin/etcd"
        - "--advertise-client-urls=http://192.168.1.76:2379"
        - "--listen-client-urls=http://0.0.0.0:2379"
        - "--listen-peer-urls=http://0.0.0.0:2380"
      livenessProbe:
       httpGet:
        host: 192.168.1.76
        path: /health
        port: 2379
        scheme: HTTP
       initialDelaySeconds: 5
       timeoutSeconds: 5