{%- from "kubernetes/map.jinja" import common with context %}
{%- set internal_ip = grains.get('ipv4')[0] %}

apiVersion: "v1"
kind: "Pod"
metadata:
  name: "kube-apiserver"
  namespace: "kube-system"
  labels:
    tier: control-plane
    component: kube-apiserver
spec:
  hostNetwork: true
  containers:
    - name: "kube-apiserver"
      image: "{{image}}"
      command:
        - "/hyperkube"
        - "apiserver"
        - "--authorization-mode=Node,RBAC"
        - "--admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota"
        - "--address=0.0.0.0"
        - "--allow-privileged"
        - "--insecure-port=8080"
        - "--secure-port=443"
        - "--service-cluster-ip-range=10.0.100.0/16"
        - "--etcd-cafile=/etc/kubernetes/certs/ca.crt"
        - "--etcd-certfile=/etc/kubernetes/certs/api.crt"
        - "--etcd-keyfile=/etc/kubernetes/certs/api.key"
        - "--etcd-servers=https://10.0.1.4:2379,https://10.0.1.5:2379"
        - "--advertise-address={{internal_ip}}"
        - "--tls-cert-file=/etc/kubernetes/certs/api.crt"
        - "--tls-private-key-file=/etc/kubernetes/certs/api.key"
        - "--client-ca-file=/etc/kubernetes/certs/ca.crt"
        - "--service-account-key-file=/etc/kubernetes/certs/sa.crt"
        - "--service-node-port-range=9000-10000"
        - "--storage-backend=etcd3"
        - "--v=2"
      volumeMounts:
        - name: "etc-kubernetes"
          mountPath: "/etc/kubernetes/certs"
        - name: "var-lib-kubelet"
          mountPath: "/var/lib/kubelet"
  volumes:
    - name: "etc-kubernetes"
      hostPath:
        path: "{{common.certs_path}}"
    - name: "var-lib-kubelet"
      hostPath:
        path: "/var/lib/kubelet"