{%- from "kubernetes/map.jinja" import common with context %}
{%- set internal_ip = grains.get('ipv4')[0] %}

apiVersion: "v1"
kind: "Pod"
metadata:
  name: "kube-controller-manager"
  namespace: "kube-system"
  labels:
    tier: control-plane
    component: kube-controller-manager
spec:
  hostNetwork: true
  containers:
    - name: "kube-controller-manager"
      image: "{{image}}"
      command:
        - "/hyperkube"
        - "controller-manager"
        - "--kubeconfig={{common.config_path}}/controller.kubeconfig"
        - "--allocate-node-cidrs=True"
        - "--cluster-cidr={{common.cluster_cidr}}"
        - "--cluster-name={{common.cluster_name}}"
        - "--root-ca-file={{common.certs_path}}/ca.crt"
        - "--cluster-signing-cert-file={{common.certs_path}}/ca.crt"
        - "--cluster-signing-key-file={{common.certs_path}}/ca.key"
        - "--service-account-private-key-file={{common.certs_path}}/sa.key"
        - "--leader-elect=true"
        - "--node-monitor-grace-period=40s"
        - "--pod-eviction-timeout=5m0s"
        - "--route-reconciliation-period=10s"
        - "--master=https://{{internal_ip}}"
        - "--use-service-account-credentials=true"
        - "--v=2"
      volumeMounts:
        - name: "etc-kubernetes-certs"
          mountPath: "{{common.certs_path}}"
        - name: "etc-kubernetes-config"
          mountPath: "{{common.config_path}}"
        - name: "var-lib-kubelet"
          mountPath: "/var/lib/kubernetes"
  volumes:
    - name: "etc-kubernetes-certs"
      hostPath:
        path: "{{common.certs_path}}"
    - name: "etc-kubernetes-config"
      hostPath:
        path: "{{common.config_path}}"
    - name: "var-lib-kubelet"
      hostPath:
        path: "/var/lib/kubernetes"
