{%- from "kubernetes/map.jinja" import common with context %}
apiVersion: "v1"
kind: "Pod"
metadata:
  name: "kube-controller-manager"
  namespace: "kube-system"
  labels:
    tier: control-plane
    component: kube-controller-manager
spec:
  hostNetwork: true
  containers:
    - name: "kube-controller-manager"
      image: "{{image}}"
      command:
        - "/hyperkube"
        - "controller-manager"
        - "--kubeconfig=/var/lib/kubelet/kubeconfig"
        - "--allocate-node-cidrs=True"
        - "--cluster-cidr={{common.cluster_cidr}}"
        - "--cluster-name={{common.cluster_name}}"
        - "--root-ca-file={{common.ca_crt}}"
        - "--cluster-signing-cert-file={{common.ca_crt}}"
        - "--cluster-signing-key-file={{common.ca_key}}"
        - "--service-account-private-key-file={{common.api_server_key}}"
        - "--leader-elect=true"
        - "--v=2"
        - "--node-monitor-grace-period=40s"
        - "--pod-eviction-timeout=5m0s"
        - "--route-reconciliation-period=10s"
        - "--master=127.0.0.1:8080"
      volumeMounts:
        - name: "srv-kubernetes"
          mountPath: "{{common.kubernetes_base_path}}"
        - name: "var-lib-kubelet"
          mountPath: "/var/lib/kubelet"
  volumes:
    - name: "srv-kubernetes"
      hostPath:
        path: "{{common.kubernetes_base_path}}"
    - name: "var-lib-kubelet"
      hostPath:
        path: "/var/lib/kubelet"
