{%- from "kubernetes/map.jinja" import common with context %}
apiVersion: "v1"
kind: "Pod"
metadata:
  name: "kube-scheduler"
  namespace: "kube-system"
  labels:
    tier: control-plane
    component: kube-scheduler
spec:
  hostNetwork: true
  containers:
    - name: "kube-scheduler"
      image: "{{image}}"
      command:
        - "/hyperkube"
        - "scheduler"
        - "--kubeconfig={{common.config_path}}/scheduler.kubeconfig"
        - "--leader-elect=true"
        - "--v=2"
      volumeMounts:
        - name: "etc-kubernetes-config"
          mountPath: "{{common.config_path}}"
        - name: "var-lib-kubelet"
          mountPath: "/var/lib/kubelet"
  volumes:
    - name: "etc-kubernetes-config"
      hostPath:
        path: "{{common.config_path}}"
    - name: "var-lib-kubelet"
      hostPath:
        path: "/var/lib/kubelet"