[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://kubernetes.io/docs/concepts/overview/components/#kubelet https://kubernetes.io/docs/reference/generated/kubelet/
After=docker.service
Requires=docker.service
ConditionPathExists=/usr/bin/kubelet

[Service]
WorkingDirectory=/var/lib/kubelet
ExecStartPre=/bin/mkdir -p /var/lib/kubelet
ExecStartPre=/bin/mkdir -p /var/lib/cni
# This is a partial workaround to this upstream Kubernetes issue:
#  https://github.com/kubernetes/kubernetes/issues/41916#issuecomment-312428731
ExecStartPre=/sbin/sysctl -w net.ipv4.tcp_retries2=8
ExecStartPre=-/sbin/ebtables -t nat --list
ExecStartPre=-/sbin/iptables -t nat --list
ExecStart=/usr/bin/kubelet \
        --kubeconfig={{kubeconfig}} \
        --address=0.0.0.0 \
        --allow-privileged=true \
        --enable-server \
        --enable-debugging-handlers \
        --pod-manifest-path={{manifests_path}} \
        --register-schedulable={{schedulable}} \
        --node-labels=role=master \
        --network-plugin=kubenet \
        --node-status-update-frequency=10s \
        --v=2 \
        --non-masquerade-cidr={{cidr}}
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target