
{% set common = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['ca-certificates', 'software-properties-common', 
                 'python-pip', 'curl', 'git', 'apt-transport-https', 
                 'openssl', 'python-m2crypto']
    },
}, merge=salt['pillar.get']('kubernetes:common')) %}