{%- from "kubernetes/map.jinja" import common with context %}
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ca_certificate}}
    server: https://{{common.cluster_dns}}
  name: {{common.cluster_name}}
contexts:
- context:
    cluster: {{common.cluster_name}}
    user: {{user}}
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: {{user}}
  user:
    client-certificate-data: {{client_certificate}}
    client-key-data: {{client_key}}