
{% set common = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['ca-certificates', 'software-properties-common', 
                 'python-pip', 'curl', 'git', 'apt-transport-https', 
                 'openssl', 'python-m2crypto', 'python-setuptools'],
        'pips': ['docker'],
        'certs_path': '/etc/kubernetes/certs',
        'manifests_path': '/etc/kubernetes/manifests',
        'config_path': '/etc/kubernetes/configs',
        'ca_key': '/etc/kubernetes/certs/ca.key',
        'ca_crt': '/etc/kubernetes/certs/ca.crt',
    },
}, merge=salt['pillar.get']('kubernetes:common')) %}