
{% set common = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['ca-certificates', 'software-properties-common', 
                 'python-pip', 'curl', 'git', 'apt-transport-https', 
                 'openssl', 'python-m2crypto', 'python-setuptools'],
        'pips': ['docker'],
        'kubernetes_base_path': '/srv/kubernetes',
        'manifests_path': '/etc/kubernetes/manifests',
        'ca_key': '/srv/kubernetes/ca.key',
        'ca_crt': '/srv/kubernetes/ca.crt',
        'api_server_key': '/srv/kubernetes/api_server.key',
        'api_server_crt': '/srv/kubernetes/api_server.crt'
    },
}, merge=salt['pillar.get']('kubernetes:common')) %}